<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Firestarter", suffix: " · Phoenix Framework" %>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  <style>
    .bg-color {
      background-color: #fafafa; /* Replace this with the actual color code you pick */
    }

    .text-primary {
      color: #62A8FF
    }
  </style>
</head>
<body class="bg-color">
  <header class="bg-white shadow-md">
    <nav class="container mx-auto flex items-center justify-between px-4 py-6">
      <div>
        <span class="text-gray-400 mr-2 text-3xl">&#9776;</span> <!-- Menu Icon -->
      </div>
      <div class="flex items-center">
        <a class="text-primary text-2xl font-bold" href="#">
          Firestarter
        </a>
      </div>
      <div>
        <a href="/login" class="text-2xl text-gray-800 hover:text-gray-600 mx-2">Logout</a>
      </div>
    </nav>
  </header>
  <%= @inner_content %>
</body>
</html>
